<div class="element-introduction">
  <%= form_for profile_introduction, remote: true do |f| %>

      <%= f.text_area :body, class: 'introduction-edit-textarea', placeholder: 'Foo bar...' %>
      <%= f.submit %>
  <% end %>
</div>
