 <div class="form-group">
  <%= f.label :has_idea, class: 'control-label input-label' do %>
    Have an idea already? (Optional)
    <%= f.check_box(:has_idea, {class: 'input-checkbox', style: "width:25px;height:25px; margin-left:20px;"}, 1, 0) %>
  <% end %>
</div>
    
  
