<div class="form-group">
  <%= f.label :code, 'Have an invitation code? (Optional)', {class: 'col-xs-4 control-label input-label'} %>
  <div class="col-xs-8">
    <%= f.text_field :code, {class: 'input-upright', placeholder: 'Invitation Code'} %>
  </div>
</div>
