<div class="inner-box-textinput">
	<div class="form-group form-group-extra-properties-this-is-semantically-a-disaster-but-please-dont-override-bootstrap-classes">
	  <%= f.label :school, {class: 'col-sm-3 control-label input-label'} %>
	  <div class="col-sm-6">
	    <%= f.text_field :school, {class: 'input-upright input-borderless'} %>
	  </div>
	</div>

  <div class="form-group form-group-extra-properties-this-is-semantically-a-disaster-but-please-dont-override-bootstrap-classes">
  <%= f.label :location, {class: 'col-sm-3 control-label input-label'} %>
	  <div class="col-sm-6">
	    <%= f.text_field :location, {class: 'input-upright input-borderless'} %>
	  </div>
	</div>
</div>