<div class="form-group">
  <%= f.label :location, {class: 'col-sm-3 control-label input-label'} %>
  <div class="col-sm-9">
    <%= f.text_field :location, {class: 'input-upright', placeholder: 'Waltham, US'} %>
  </div>
</div>
<div class="form-group">
  <%= f.label :school, {class: 'col-sm-3 control-label input-label'} %>
  <div class="col-sm-9">
    <%= f.text_field :school, {class: 'input-upright', placeholder: 'Brandeis University'} %>
  </div>
</div>
