<div class="form-group form-group-extra-properties-this-is-semantically-a-disaster-but-please-dont-override-bootstrap-classes">
	<%= f.hidden_field 'interest_ids', {multiple: true} %>
    <% @interests.each do |a_value| %>
        <div class="col-md-4 check-box-element">
        	<label class="label">
              <%= f.check_box('interest_ids', {multiple: true, class: 'input-checkbox check-interests'}, a_value.id, nil) %>
              <%=a_value.name %>
        	</label>
    	</div>
    <% end %>
</div>
