<div class="form-group">
  <%= f.label :code, 'Have an invitation code?(Optional)', {class: 'col-xs-3 control-label input-label'} %>
  <div class="col-xs-9">
    <%= f.text_field :code, {class: 'input-upright', placeholder: 'Invitation Code'} %>
  </div>
</div>
