 <div class="form-group">
  <%= f.label :has_idea, 'Have an idea already? (Optional)', {class: 'control-label input-label'} %>
  <div class="check-box-element-container">
    <%= f.check_box( :has_idea, {class: 'input-checkbox interest-checkbox'} ) %>
  </div>
</div>
    
  
