<div id="introduction" class="introductions-container">
  <p class="introductions-header hidden-xs">SELF INTRODUCTION:</p>
  <p class="introductions-header text-center visible-xs-block">SELF INTRODUCTION</p>
  <%= render 'introduction_element' %>
</div>