<%= form_for profile, url: "update_header/#{profile.id}", html: {multipart: true} do |f| %>
    <p>
      <%= f.file_field :profile_photo %>
    </p>
    <%= f.submit 'Change profile pic' %>
<% end %>
