<% provide(:title, 'Welcome') %>

<div class="container registration-section">
  <div id="profile-registration-body" class="registration-body">
    <%= render 'profiles/registration_basic_information' %>
  </div>
</div>
