<div class="stay-tuned-container">
  <%= image_tag 'blimp.png', class: 'stay-tuned-photo' %> 
  <div class="stay-tuned-text">
    <p>Great! You are in! </p>
    <p>We are officially launching in June.</p>
    <p>Stay tuned for the launch party and get ready to surprise the world.</p>
  </div>
</div>