<div class="outer-centering stay-tuned-container">
  <div class="middle-centering">
    <div class="inner-centering stay-tuned">
      <%= image_tag 'blimp.png', class: 'stay-tuned-photo center-block' %> 
      <div class="stay-tuned-text">
        <p>Great! You are in! </p>
        <p>We are officially launching in June.</p>
        <p>Stay tuned for the launch party and get ready to surprise the world.</p>
      </div>
    </div>
  </div>
</div>