<%= form_tag sessions_path do %>
    <%# label_tag :email, 'Email' %>
    <%= text_field_tag :email, params[:email], html: {class: 'input-upright'} %><br />
    <%# label_tag :password %>
    <%= password_field_tag :password, html: {class: 'input-upright'} %><br />

    <!--<p><%# link_to "forgotten password?", new_password_reset_path %></p>-->
    <!--<div class="field">-->
      <%# check_box_tag :remember_me, 1, params[:remember_me] %>
      <%# label_tag :remember_me %>
    <!--</div>-->

    <%= submit_tag 'Log in', html: {class: 'btn-upright text-center'}%>
<% end %>
