<%= render 'sessions/log_in' %>
<span>Don't have an account? <a href="javascript:switchLogInForSignUpPopUp()" class="sign-up-message">Sign up instead</a></span>

<!--<br />-->
<!--<span>- or connect with one of the following -</span><br />-->
<%#= render 'authentication/oauth_registration' %>
