var existing = document.getElementById('contacts-new');
existing.parentNode.removeChild(existing);

document.getElementById('contacts-body')
        .insertAdjacentHTML('beforeend', '<div id="<%= "introduction-#{@profile_contact.id}" %>"><%= j render @profile_contact %></div>');