<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Welcome, <%= @user.name %>
    <p>
      You have successfully signed up.
      your username is: <%= @user.username %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link to confirm your account: <%= link_to 'Confirm account', { :controller=> :users, :action=> :confirmed, id: @user.id, code: @user.confirm_code }, :method => :post %>
    </p>
    <p>Welcome to ConNextor!</p>
  </body>
</html>