<div class="element-education" id="education-new">
  <%= form_for profile_education, remote: true do |f| %>  
      <%= render 'form_fields', f: f %>
      <%= f.submit class: 'btn-inverse btn-element-margin-match' %>
  <% end %>
</div>
