var existing = document.getElementById('education-new');
existing.parentNode.removeChild(existing);

document.getElementById('educations-body')
        .insertAdjacentHTML('beforeend', '<div id="<%= "introduction-#{@profile_education.id}" %>"><%= j render @profile_education %></div>');