<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project_user_class.name %>
</p>

<%= link_to 'Edit', edit_project_user_class_path(@project_user_class) %> |
<%= link_to 'Back', project_user_classes_path %>
