<% project_post ||= @project_post %>

<%= form_for project_post, remote: @project_post ? false : true do |f| %>

  <div class="field">
    <%# f.hidden_field :project_id, value: params[:project_id] %>
    <%# f.hidden_field :project_id, value: project_post.project_id %>
    <%= f.hidden_field :project_id %>
  </div>
  
  <div>
    <div class="field" style="display:inline-block">
      <%= f.text_area :text, id:'project-posts-form-textbox' %>
    </div>
    <div class="actions" style="display:inline-block">
      <%= f.submit 'Comment', class: 'btn-inverse btn-element-margin-match'%>
    </div>
  </div>
<% end %>

