<!--Username no longer required-->
<!--<div class="form-group">-->
  <%# f.label :username, {class: 'col-sm-4 control-label input-label'} %>
  <!--<div class="col-sm-8">-->
    <%# f.text_field :username, {class: 'input-upright'} %>
  <!--</div>-->
<!--</div>-->

<div class="form-group">
 
  <div class="col-xs-9 col-xs-offset-1">
    <%= f.text_field :email, {class: 'input-upright', placeholder: 'Email'} %>
  </div>
</div>
