<div class="form-group">

  <div class="col-xs-9 col-xs-offset-1">
    <%= f.password_field :password, {class: 'input-upright', placeholder: 'Password'} %>
  </div>
</div>

<div class="form-group">

  <div class="col-xs-9 col-xs-offset-1">
    <%= f.password_field :password_confirmation, {class: 'input-upright', placeholder: 'Password Confirmation'} %>
  </div>
</div>
