<% provide(:title, @user.username) %>
<!--<div class="row">-->
  <section class="user_info">
    <h1>
      <%= @user.username %>     
    </h1>
    Your name seems to be <%= "#{@user.first_name} #{@user.last_name}" %> 
  </section>
<!--</div>-->
