<div class="outer-centering loading-screen">
  <div class="middle-centering">
    <div class="inner-centering loading-container">
      <img class="loading-vector" src="<%= image_path 'loading-screen.svg' %>" />
    </div>
  </div>
</div>
