<div class="logo-img-background block-center"></div><br />
<span>- Register with -</span><br />
<%= render 'welcome/oauth_registration' %>
<span>- or -</span><br />
<%= render 'welcome/simple_registration_form', user: User.new %>