<div id="sign-up-pop-up-container" class="outer-centering pop-up-container">
  <div class="middle-centering">
    <div id="sign-up-pop-up" class="inner-centering pop-up" onclick="">
      <a href="javascript:hideSignUpPopUp()"><span class="glyphicon glyphicon-remove close-button" ></span></a>
      <%= render 'welcome/registration_portal' %>
    </div>
  </div>
</div>