<div class="sign-up">
  <%= form_for user do |f| %>
       <%= text_field_tag :email, params[:email], class: 'input-upright', placeholder: 'Email' %><br />
      <%= password_field_tag :password, nil,  class: 'input-upright', placeholder: 'Password' %><br />
      <%= submit_tag 'Sign Up', class: 'btn-upright text-center' %>
  <% end %>
</div>