<div class="sign-up">
  <%= form_for User.new do |f| %>
       <%= f.text_field :email, class: 'input-upright', placeholder: 'Email' %><br />
      <%= f.password_field :password,  class: 'input-upright', placeholder: 'Password' %><br />
      <%= f.submit 'Sign Up', class: 'btn-upright text-center' %>
  <% end %>
</div>