<div id="video-container" class="outer-centering pop-up-container" onclick="logthatshit()">
  <div class="middle-centering">
    <div class="inner-centering video-pop-up video-container" onclick="">
      <a href="javascript:hideVideo()"><span class="glyphicon glyphicon-remove close-button" ></span></a>
      <iframe id="video-iframe" class="iframe" src="https://player.vimeo.com/video/124384619" frameborder="0"></iframe>
    </div>
  </div>
</div>
