<% provide(:title, 'ConNextor: Connect the next generation of innovators.') %>

<script type="text/javascript">
    $(window).scroll(fadeInSectionImages);
    $(document).ready(function () {
        $('.scroll-to-invite').on('click', scrollToInvitation);
//        $('.open-pop-up').on('click', toggleLogInPopUp);
//        $('form[name="invitation"] select[name="source"]').change(changeFormAlternativeField);
    });
    window.onload = fadeOutLoadingScreen;
    document.addEventListener('page:load', fadeOutLoadingScreen);
</script>

<!--Loading screen-->
<%= render 'welcome/loading_screen' %>

<!--Welcome Video-->
<%= render 'welcome/welcome_video' %>

<!--Main image-->
<div class="main-container main-img">
  <div class="main">
    <p class="main-txt">
      Connect the Next Generation of Innovators<span class="alt-theme"></span>
    </p>
    <p class="main-small-txt">Coming Soon</p><span class="alt-theme"></span>
    <!-- <button class="stay-tuned-button btn-upright btn-border-rounded scroll-to-invite">Stay Tuned</button> -->
    <a class="" href="javascript:showVideo()">
      <img class="video-button-image" src="<%= image_path 'play_button.png' %>" />
    </a>
  </div>
</div>

<!--Short message-->
<div class="container">
  <div class="row about">
    <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <p>A community that unites young talents to work on potentially world-changing projects and advances their career with real life experiences.</p>
    </div>
  </div>

  <div class="row separator">
    <div class="logo-img-background block-center"></div>
  </div>

  <!--Sections-->
  <div class="row sections section1">
    <div class="col-sm-6 col-sm-push-6 col-md-5 col-md-push-7 col-lg-4 col-lg-push-8 section-txt">
      <p>Find peers with the same passion yet diverse skill sets</p>
    </div>
    <div class="col-sm-6 col-sm-pull-6 col-md-7 col-md-pull-5 col-lg-8 col-lg-pull-4 section-img fade-in"></div>
  </div>
  <div class="row sections section2">
    <div class="col-sm-6 col-md-5 col-lg-4 section-txt">
      <p>Get inspired by top innovators and follow the coolest projects and people</p>
    </div>
    <div class="col-sm-6 col-md-7 col-lg-8 section-img fade-in"></div>
  </div>
  <div class="row sections section3">
    <div class="col-sm-6 col-sm-push-6 col-md-5 col-md-push-7 col-lg-4 col-lg-push-8 section-txt">
      <p>Advance your career by making an impact on things that you care about</p>
    </div>
    <div class="col-sm-6 col-sm-pull-6 col-md-7 col-md-pull-5 col-lg-8 col-lg-pull-4 section-img fade-in"></div>
  </div>
  <div class="row sections section4">
    <div class="col-sm-6 col-md-5 col-lg-4 section-txt">
      <p>Build a powerful profile with your unique personality and concrete experiences</p>
    </div>
    <div class="col-sm-6 col-md-7 col-lg-8 section-img fade-in"></div>
  </div>
</div>

<!--Section 5 (background overflows outside container)-->
<div class="section5">
  <div class="section-img fade-in">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 section-txt">
          <!--col-lg-6 col-lg-offset-3-->
          <p>GET HELP FROM INDUSTRY EXPERTS AND SHARE YOUR WORK WITH THE MOST INFLUENTIAL COMPANIES</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Sign up-->
<div class="stay-tuned" id="invite">
  <div class="container">
    <p id="form-title" class="form-title" alt="Thanks! We'll keep you posted">Stay Tuned for the Launch</p>
    <p style="font-size: 24px">And get ready to surprise the world!</p>
    
    <form class="form-inline form-group" onsubmit="return postInviteToRemote(this)" name="invitation">
      <div class="row">
        <input name="name" type="text" class="input-upright" placeholder="Full Name" />
        <input name="email" type="text" class="input-upright" placeholder="Email Address" />
      </div>
      <!--<div class="row">-->
        <!--<select name="source" class="select-upright">-->
          <!--<option value="placeholder" selected disabled>Where you heard of us</option>-->
          <!--<option value="conference">Conference</option>-->
          <!--<option value="incubator">Incubator</option>-->
          <!--<option value="university">University</option>-->
          <!--<option value="society">Club or Society</option>-->
          <!--<option value="friend">Friend Referral</option>-->
          <!--<option value="other">Other</option>-->
        <!--</select>-->
        <!--<input name="source-alt" class="input-upright" placeholder="Please Specify" />-->
      <!--</div>-->
      <button type="submit" class="btn-inverse invite-submit">Submit</button>
    </form>
    <div class="row quote">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <blockquote>
          <p>Education is the process in which we discover that learning adds quality to our lives. Learning must be experienced.</p>
          <footer>William Glasser</footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
