<div class="element-experience">
  <p class="experience-body">
    <%= profile_introduction.body %>
    <% if @user_is_owner_of_profile %>
        <%= link_to "/profile_introduction/swap/#{profile_introduction.id}", remote: true, class: '' do %>
            <span class="glyphicon glyphicon-edit edit-icon hidden-xs"></span>
        <% end %>
    <% end %>
  </p>
</div>