var existing = document.getElementById('experience-new');
existing.parentNode.removeChild(existing);

document.getElementById('experiences-body')
        .insertAdjacentHTML('beforeend', '<div id="<%= "introduction-#{@profile_experience.id}" %>"><%= j render @profile_experience %></div>');