<div>
  <div>
    User
    <%= @user_to_task.user_id %>
  </div>
  <div>
    Task
    <%= @user_to_task.task_id %>
  </div>
  <div>
    Rating
    <%= @user_to_task.rating %>
  </div>
  <div>
    Status
    <%= @user_to_task.status %>
  </div>
</div>