<div class="invitation-code">
  <span>ConNextor is currently open only by invitation only. If you have an invitation code, enter it here. Otherwise, you are welcome to
    <% if controller_name == 'welcome' %>
        <a href="javascript:switchSignUpForRequest()">request a code</a>
    <% else %>
        <a href="/#invite">request a code</a>
    <% end %>
    , or wait for our official launch.</span><br />
  ...
</div>
