<div id="log-in-pop-up-container" class="outer-centering pop-up-container" onclick="logthatshit()">
  <div class="middle-centering">
    <div class="inner-centering pop-up log-in-pop-up" onclick="">
      <a href="javascript:hideLogInPopUp()"><span class="glyphicon glyphicon-remove close-button" ></span></a>
      <div class="logo-img-background block-center"></div>
      <%= render 'sessions/portal' %>
    </div>
  </div>
</div>
