<div class="registration-portal">
  <span>- Register with -</span><br />
  <%= render 'authentication/oauth_registration' %>
  <span>- or -</span><br />
  <%= render 'authentication/simple_registration_form' %>
</div>
