<div id="sign-up-pop-up-container" class="outer-centering pop-up-container">
  <div class="middle-centering">
    <div class="inner-centering pop-up sign-up-pop-up" onclick="">
      <a href="javascript:hideSignUpPopUp()"><span class="glyphicon glyphicon-remove close-button" ></span></a>
      <div class="logo-img-background block-center"></div>
      <%= render 'authentication/invitation_code' %>
      <%= render 'authentication/registration_portal' %>
    </div>
  </div>
</div>
