<div> 
  <% if @is_owner %>
    <p><%= link_to 'Create position', new_project_position_path(@project.id, Position.new) %></p>
  <% end %>
</div>

<div id="project-positions-container">
  <%= render @project.positions %>
</div>