<% provide(:title, 'All projects') %>

<div class="container">
  <div class="row search-row">
    <%= form_tag projects_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :title => nil %>
      </p>
    <% end %>
  </div>
  <div class="row blocks-row">
    <% @projects.each do |project| %>
        <%= render 'project_block', project: project %>
    <% end %>
  </div>
</div>




