@font-face {
  font-family: omnes-regular;
  src: url("../assets/fonts/omnes-regular.otf") format("opentype"); }
body {
  margin: 0px;
  padding: 0px;
  font-family: omnes-regular; }

.loading-screen {
  background-color: #EFC94C;
  z-index: 3; }
  .loading-screen .loading-container, .loading-screen .loading-vector {
    width: 64px;
    height: 64px; }

.banner {
  height: 56px; }
  .banner .sign-up-button {
    margin-top: 8px;
    margin-bottom: 8px;
    background: #EFC94C; }

.logo-img {
  background-image: url("../assets/images/logo_03.png");
  background-size: cover;
  width: 56px;
  height: 56px; }

.logo-txt {
  padding: 10px 15px 4px 15px;
  font-size: 30px;
  font-weight: bold; }

.main-container.main-img {
  background-image: url("../assets/images/landing-page/main.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 619px;
  padding-top: 200px; }

.main {
  text-align: center; }
  .main .main-txt {
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF; }
    .main .main-txt .alt-theme {
      color: #EFC94C; }
  .main .stay-tuned-button {
    margin-top: 35px;
    font-weight: 600; }

.about {
  text-align: center;
  height: auto;
  padding-top: 100px; }
  .about p {
    font-size: 26px; }

.separator {
  margin-top: 100px;
  margin-bottom: 75px; }

.sections {
  padding-top: 50px;
  padding-bottom: 50px; }

.section-img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 400px;
  height: auto;
  visibility: hidden; }

.section-txt {
  padding-top: 130px;
  padding-bottom: 110px;
  text-align: center; }
  .section-txt p {
    font-size: 30px;
    color: #000000; }

.section1 .section-img {
  background-image: url("../assets/images/landing-page/section1.png"); }

.section2 .section-img {
  background-image: url("../assets/images/landing-page/section2.png"); }

.section3 .section-img {
  background-image: url("../assets/images/landing-page/section3.png"); }

.section4 .section-img {
  background-image: url("../assets/images/landing-page/section4.png"); }

.section5 .section-img {
  background-image: url("../assets/images/landing-page/section5.png");
  background-size: cover !important; }

.section5 .section-txt p {
  color: #FFFFFF !important; }

.stay-tuned {
  height: auto;
  background-color: #FFFFFF;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px; }
  .stay-tuned p.form-title {
    font-size: 35px; }
  .stay-tuned h5 {
    color: #888888;
    margin-bottom: 40px; }
  .stay-tuned .invite-submit {
    margin: 5px 5px 5px 5px;
    background: #EFC94C;
    border: solid #EFC94C 1px !important; }
  .stay-tuned .quote {
    margin-top: 100px; }
    .stay-tuned .quote blockquote p {
      font-size: 30px; }
    .stay-tuned .quote blockquote footer {
      font-size: 20px; }

.footer {
  height: 80px;
  background-color: #EFC94C;
  padding-top: 30px; }

.copyright-txt, .contact-us {
  font-size: 20px;
  color: #FFFFFF; }

.float-left {
  display: inline-block;
  position: relative;
  float: left; }

.float-right {
  display: inline-block;
  position: relative;
  float: right; }

.input-upright {
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  border: solid #BBBBBB 1px;
  margin: 5px 5px 5px 5px; }

.select-upright {
  vertical-align: 1px;
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  border: solid #BBBBBB 1px;
  margin: 5px 5px 5px 5px;
  width: 255px;
  height: 40px;
  color: #000000;
  background: none; }
  .select-upright option {
    font-size: 20px; }

.input-upright:focus, .select-upright:focus {
  box-shadow: 0 0 5px #EFC94C;
  border: solid #EFC94C 1px; }

.btn-upright {
  color: #FFFFFF;
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  border: solid #EFC94C 1px;
  text-decoration: none;
  background: #EFC94C;
  margin: 5px 5px 5px 5px; }

.btn-upright:hover {
  color: #EFC94C;
  background: none;
  text-decoration: none; }

.btn-inverse {
  color: #FFFFFF;
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  border: solid #FFFFFF 1px;
  text-decoration: none; }

.btn-inverse:hover {
  background: none;
  color: #EFC94C;
  border: solid #EFC94C 1px;
  text-decoration: none; }

.border-rounded {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.outer-centering {
  display: table;
  position: fixed;
  height: 100%;
  width: 100%; }
  .outer-centering .middle-centering {
    display: table-cell;
    vertical-align: middle; }
    .outer-centering .middle-centering .inner-centering {
      margin-left: auto;
      margin-right: auto; }

/*# sourceMappingURL=index.css.map */
