
/*Fonts*/

/*@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);*/
/*@import url(http://fonts.googleapis.com/css?family=Allerta);*/
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400,300);*/
@import url(http://fonts.googleapis.com/css?family=Raleway:200,300,400,700,800);

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.timeline{
	position: fixed;
    top: 50%;
    transform: translateY(-50%);
	float:left;
	z-index: 5;
}

li {
	list-style: disc;
	font-size: 18px;
	color:white;
	margin-bottom:40px;
	margin-top:40px;
}



.top-container {
    padding: 0px;
    margin: 0px;
    position: absolute;
    /*top:0px;*/
    z-index: 5;
    width: 100%;
    height: 100%;
}

.top-background {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/page1.ver2.fbg.png");
    background-size: cover;
    background-position: center;
    z-index: 6;
}

.logo-and-description {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

body {
    font-family: 'Raleway', sans-serif;
}

.btn-upright {
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    color: #90bdf6;
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    border: solid #90bdf6 1px;
    text-decoration: none;
    background: none;
}

.btn-upright:hover {
    background: #90bdf6;
    color: #ffffff;
    text-decoration: none;
}

.input-upright {
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    border: solid #90bdf6 1px;
}

.btn-inverse {
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    color: #ffffff;
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    border: solid #ffffff 1px;
    text-decoration: none;
    background: none;
}

.btn-inverse:hover {
    background: #ffffff;
    color: #90bdf6;
    text-decoration: none;
}

.logo-text {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 5em;
    color: white;
}

.short-description {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 2.1em;
    color: white;
}

.long-description {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    /*font-family: 'Open Sans', sans-serif;*/
    font-weight: 200;
    font-size: 1.63em;
    color: white;
}


.blank-middle {
    visibility: hidden;
    width: 100%;
    height: 100%;
}

.bottom-page-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
}

.quote-and-sign-up {
    position: relative;
    top: 50%;
    transform: translateY(-50%) translateY(-50px);
}

.sign-up-container {

}


.footer {
    position: absolute;
    padding: 20px;
    bottom: 0px;
    width: 100%;
    height: 100px;
    background-color: #333333;
}

.bottom-container {
    padding: 0px;
    margin: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.bottom-background {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    /*background-image: url("../assets/images/bulb-with-bg.png");*/
    background-color: #90bdf6;
    /*background-size: cover;*/
    /*background-position: center;*/
}

.light-bulb-container {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    padding: 0px;
    margin: 0px;
}

.light-bulb {
    background-image: url("../assets/images/light%20bulb.png");
    width: 500px;
    height: 500px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    visibility: hidden;
}

.light_bulb_image1{
	background-image: url("../assets/images/01icon.png");
    width: 250px;
    height: 250px;
	margin-left:130px;
	margin-bottom: 100px;
	background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.light_bulb_image2{
	width: 250px;
    height: 250px;
	margin-left:130px;
	margin-bottom: 100px;
	background-position: center;
	background-image: url("../assets/images/02icon.png");
	background-size: cover;
}
.light_bulb_image3{
	width: 220px;
    height: 220px;
	margin-left:130px;
	margin-bottom: 100px;
	background-position: center;
	background-image: url("../assets/images/03icon.png");
	background-size: cover;
}
.light_bulb_image4{
	width: 250px;
    height: 290px;
	margin-left:150px;
	margin-bottom: 100px;
	background-position: center;
	background-image: url("../assets/images/04icon.png");
	background-size: cover;
}
.light_bulb_image5{
	width: 210px;
    height: 210px;
	margin-left:130px;
	margin-bottom: 100px;
	background-position: center;
	background-image: url("../assets/images/05icon.png");
	background-size: cover;
}

.main-point-container {
    position: relative;
    height: 100%;
}

.main-point {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.main-point-text {
    /*font-family: 'Allerta', sans-serif;*/
    margin-bottom: 50px;
    font-size: 3.6em;
    font-weight: 200;
    color: #444444;
    text-align: center;
}

.sub-point-container {
    width: 100%;
    height: 80px;
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 5px;
    background-color: #a0cdf6;
}

.sub-point-text, .sub-point-icon{
    /*font-family: 'Allerta', sans-serif;;*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.4em;
}

.sub-point-icon {
    float: left;
    width: 60px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.sub-icon1 { background-image: url("../assets/images/128px%20copy/lightbulb.png"); }
.sub-icon2 { background-image: url("../assets/images/128px%20copy/chat.png");}
.sub-icon3 { background-image: url("../assets/images/128px%20copy/swatches.png");}
.sub-icon4 { background-image: url("../assets/images/128px%20copy/volume.png");}
.sub-icon5 { background-image: url("../assets/images/128px%20copy/pie-chart.png");}
.sub-icon6 { background-image: url("../assets/images/128px%20copy/browser.png");}
.sub-icon7 { background-image: url("../assets/images/128px%20copy/cart.png");}
.sub-icon8 { background-image: url("../assets/images/128px%20copy/radiotower.png");}


