@font-face {
  font-family: omnes-regular;
  src: url("../assets/fonts/omnes-regular.otf") format("opentype"); }
body {
  margin: 0px;
  padding: 0px;
  font-family: omnes-regular; }

h3 {
  font-weight: 600; }

.banner {
  height: 56px; }
  .banner .sign-up-button {
    margin-top: 8px;
    margin-bottom: 8px;
    background: #EFC94C; }

.logo-img {
  background-image: url("../assets/images/logo_03.png");
  background-size: cover;
  width: 56px;
  height: 56px; }

.logo-txt {
  padding: 10px 15px 4px 15px;
  font-size: 30px;
  font-weight: bold; }

.main-container.main-img {
  background-image: url("../assets/images/landing-page/main.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 619px;
  padding-top: 200px; }

.main {
  text-align: center; }
  .main .main-txt {
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF; }
    .main .main-txt .alt-theme {
      color: #EFC94C; }
  .main .stay-tuned-button {
    margin-top: 35px;
    background: none;
    font-weight: 600; }

.about {
  text-align: center;
  height: 400px;
  padding-top: 130px; }
  .about p {
    font-size: 20px; }

.sections {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: solid 1px #EAEAEA; }

.section-img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 400px;
  height: auto; }

.section-txt {
  padding-top: 180px;
  text-align: center; }
  .section-txt p {
    font-size: 16px;
    color: #888888; }

.section1 .section-img {
  background-image: url("../assets/images/landing-page/section1.png"); }

.section2 .section-img {
  background-image: url("../assets/images/landing-page/section2.png"); }

.section3 .section-img {
  background-image: url("../assets/images/landing-page/section3.png"); }

.section4 .section-img {
  background-image: url("../assets/images/landing-page/section4.png"); }

.section5 .section-img {
  background-image: url("../assets/images/.wallpapers/wall1.jpg"); }

.stay-tuned {
  height: 180px;
  background-color: #EAEAEA;
  text-align: center; }
  .stay-tuned h5 {
    color: #888888; }

.footer {
  height: 80px;
  background-color: #EFC94C;
  padding-top: 35px; }

.float-left {
  display: inline-block;
  position: relative;
  float: left; }

.float-right {
  display: inline-block;
  position: relative;
  float: right; }

.input-upright {
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  border: solid #EFC94C 1px;
  margin: 5px 5px 5px 5px; }

.btn-upright {
  color: #EFC94C;
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  border: solid #EFC94C 1px;
  text-decoration: none;
  background: none;
  margin: 5px 5px 5px 5px; }

.btn-upright:hover {
  background: #EFC94C;
  color: #FFFFFF;
  text-decoration: none; }

.btn-inverse {
  color: #FFFFFF;
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  border: solid #FFFFFF 1px;
  text-decoration: none; }

.btn-inverse:hover {
  background: none;
  color: #EFC94C;
  border: solid #EFC94C 1px;
  text-decoration: none; }

.border-rounded {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

/*# sourceMappingURL=index.css.map */
