<p>Created by: <%= link_to "#{Task.get_created_by_user_name(feedback.feedback_creator)}", profile_path(feedback.feedback_creator) %></p>
<p>Comments: <%=feedback.feedback%></p>
<p>Rating: <%=feedback.rating%></p>