$primary-color:         #EFC94C;
$primary-color-light:   #F2DC95;
$secondary-color:       #888888;
$secondary-fg-color:    #BBBBBB;
$secondary-bg-color:    #EAEAEA;
$warning-color:         #f98152;
$font-family:           omnes;
$font-size-misc:        20px;
$font-size-text:        20px;
$font-size-about:       26px;
$font-size-section:     30px;
$font-size-banner:      30px;
$font-size-heading:     35px;
$font-size-main:        40px;
$font-weight-misc:      500;
$font-weight-text:      400;
$font-weight-main:      500;
$font-weight-banner:    600;
$navbar-height:         57px;
$navbar-default-bg:     white;
$footer-height:         80px;
$footer-padding:        ($footer-height - $font-size-text)/2;

@mixin transition-all-ease($time) {
  -webkit-transition: all $time ease;
  -moz-transition: all $time ease;
  -o-transition: all $time ease;
  transition: all $time ease;
}