// Partial just for global Sass constants.
//  - should be included in every other Sass file
//  - until further plans to switch to Tomeji
//    see http://stackoverflow.com/questions/9138946/proper-scss-asset-structure-in-rails

// Colors
$primary-color:         #EFC94C;
$primary-color-light:   #F2DC95;
$primary-fg-color:      #F0E49E;
$primary-bg-color:      #FFF9C6;
$secondary-color:       #888888;
$secondary-fg-color:    #BBBBBB;
$secondary-bg-color:    #EAEAEA;
$complementary-color:   #298ABC;
$palette-light-color:   #BFE2E4;
$palette-dark-color:    #ACC6C7;
$border-divider-color:  rgba(0, 0, 0, 0.2); // Greyscale value
$warning-color:         #F98152;
$active-text-color:     #000000;
$inactive-text-color:   #ABABAB;
$subtext-color:         #888888;

// Fonts
$font-family:           omnes;
$font-family-base:      omnes; // For Bootstrap
$font-size-base:        16px;
//$line-height-base:      20px; // For Bootstrap
//$link-color:            $primary-color; // For Bootstrap
$font-size-extra-small: 11px;
$font-size-small:       14px;
$font-size-submedium:   16px;
$font-size-medium:      18px;
$font-size-misc:        20px;
$font-size-text:        20px;
$font-size-header:      24px;
$font-size-subheader:   16px;
$font-size-about:       26px;
$font-size-section:     30px;
$font-size-banner:      30px;
$font-size-heading:     35px;
$font-size-main:        40px;
$font-size-icon:        14px;
$font-weight-misc:      500;
$font-weight-text:      400;
$font-weight-main:      500;
$font-weight-subtitle:  600;
$font-weight-banner:    600;

// Elements on application.html.erb
$navbar-height:         57px;
$navbar-default-bg:     white;
$footer-height:         80px;
$footer-padding:        ($footer-height - $font-size-text)/2;

@mixin transition-all-ease($time) {
  -webkit-transition: all $time ease;
  -moz-transition: all $time ease;
  -o-transition: all $time ease;
  transition: all $time ease;
}

@mixin border-rounded($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}