/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.]
 *
 *= require font-faces
 *= require_tree .
 *= require_self
 */
@import "scss_constants";

@import "bootstrap-sprockets";
@import "bootstrap";

//*************************************************
// --------------- Dynamic Classes ---------------
//
// Include these classes in tags for their effects.
// Try not overload these classes directly,
// overload implicitly by adding more specific
// classes to the tag itself, and then overload
// inside that specific page's Sass file.
//*************************************************

// positional

.float-left {
  display: inline-block;
  position: relative;
  float: left;
}

.float-right {
  display: inline-block;
  position: relative;
  float: right;
}

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.outer-centering {
  display: table;
  height: 100%;
  width: 100%;

  .middle-centering {
    display: table-cell;
    vertical-align: middle;

    .inner-centering {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

// form input

.form-part-title {
  font-size: $font-size-section;
}

.form-element-margin-basis {
  margin: 5px 5px 5px 5px;
}

.form-element-base {
  font-size: $font-size-misc;
  padding: 5px 20px 5px 20px;
  @extend .form-element-margin-basis;
  background: none;
  height: 40px;
  color: black;
}

.input-label {
  @extend .form-element-base;
  font-weight: $font-weight-misc;
}

.input-base {
  @extend .form-element-base;
  min-width: 255px;
  border: solid $secondary-fg-color 1px;
}

.input-upright {
  @extend .input-base;
}

.select-upright {
  @extend .input-base;
  vertical-align: 1px;
  option {
    font-size: $font-size-misc;
  }
}

.input-upright:focus, .select-upright:focus {
  box-shadow: 0 0 5px $primary-color;
  border: solid $primary-color 1px;
}

.input-warning-glow {
  box-shadow: 0 0 5px $warning-color !important;
  border: solid $warning-color 1px !important;
}

.btn-base {
  border: solid $primary-color 1px;
  font-size: $font-size-misc;
  padding: 5px 20px 5px 20px;
  @include transition-all-ease(300ms);
}

.btn-upright {
  @extend .btn-base;
  background: none;
  color: $primary-color;
}
.btn-upright:hover {
  background: $primary-color;
  color: white;
}

.btn-inverse {
  @extend .btn-base;
  background: $primary-color;
  color: white;
}
.btn-inverse:hover {
  background: $primary-color-light;
  color: white;
  border-color: $primary-color-light;
}

.btn-border-rounded {
  @include border-rounded(4px);
}

.btn-element-margin-match {
  @extend .form-element-margin-basis;
}

// pop up

.pop-up-container {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $pop-up-background;
  z-index: $layer-pop-up;
  @include transition-all-ease(300ms);

  .pop-up {
    position: relative;
    @include transition-all-ease(300ms);
    // Either overload or extend an element with this class with
    //  - fixed height and width or static elemental height
    //  - 100% height and width, with max-height and max-width for responsiveness
    //    Note: 100% width with max-width is always recommended

    .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}

// images

.logo-img {
  width: 57px;
  height: 54px;
}

.logo-img-background {
  background-image: image_url("logo.png");
  background-size: cover;
  width: 57px;
  height: 54px;
}

.facebook-image {background-image: image_url("icons/social-media/facebook-gray.png");}
.facebook-image:hover {background-image: image_url("icons/social-media/facebook-blue.png")}

.twitter-image {background-image: image_url("icons/social-media/twitter-bird-gray.png");}
.twitter-image:hover {background-image: image_url("icons/social-media/twitter-bird-blue.png");}

.linkedin-image {background-image: image_url("icons/social-media/linkedin-gray.png");}
.linkedin-image:hover {background-image: image_url("icons/social-media/linkedin-blue.png");}

.github-image {background-image: image_url("icons/social-media/github-gray.png");}
.github-image:hover {background-image: image_url("icons/social-media/github-color.png");}


//************************************************
// ----------- Global Element Styling -----------
//************************************************

html.turbolinks-progress-bar::before {
  background-color: $primary-color !important;
  height: 2px !important;
  z-index: $layer-progress-bar !important;
}

html, body {
  height: 100%;
  background: $secondary-bg-color;
}
body {
  margin: 0px;

  font-family: $font-family;
  //  background-color: #808080;
}

#content-wrap {
  min-height: 100%;
  height: auto !important;
  //  height: 100%;
  margin: 0 auto (0-$footer-height);
}

.log-in {
  padding: 20px 0;
  .error-message {
    color: $warning-color;
  }
}

.sign-up {
  padding: 20px 0;
  .error-message {
    color: $warning-color;
  }
}

.social-media-imgs {
  //      height: 50px;
  .social-media-img {
    width: 30px;
    height: 30px;
    margin: 10px;
    background-size: cover;
    display: inline-block;
  }
}


.navbar-default {
//  background: white;
  .navbar-brand {
    color: $primary-color;
  }

  .logo-img-navbar-container {
    padding: 0 0 0 0 !important;
  }

  .logo-txt {
    //  display: inline-block;
    padding: 19px 15px 4px 15px !important;
    margin-right: 15px;
    font-size: $font-size-banner;
    font-weight: $font-weight-banner;
  }

  input[type=button], button {
    margin: 8px 15px 8px 0 !important;
  }
}

.pop-up-container {
  .authentication-pop-up {
    width: 100%;
    max-width: 400px;
    padding: 30px 20px;
    // add shadow
    background: white;
    text-align: center;
  }
  .log-in-pop-up {
    @extend .authentication-pop-up;
  }

  .sign-up-pop-up {
    @extend .authentication-pop-up;

    .registration-portal {
      margin: 30px 0 0;
    }
  }
}

.template-wrap {
  padding: $navbar-height 0 $footer-height 0;

  .flash-messages {
    position: fixed;
    top: $navbar-height;
    width: 100%;
    //max-width: 400px;
    margin: 5px auto;

    .alert {
      max-width: 400px;
      margin: 5px auto;
      padding: 10px 15px;
      z-index: $layer-messages;
      color: black;
      opacity: 0.9;
      border: 1px white solid;
    }
    .alert-success { background: $success-color; }
    .alert-error { background: $warning-color; }
    .alert-notice { background: $secondary-bg-color; }

  }
}

.footer {
  height: $footer-height;
  background-color: $primary-color;
  padding-top: $footer-padding;
}

.copyright-txt, .contact-us {
  font-size: $font-size-text;
  color: white;
}
