// ********************************************
// Font face: Omnes
// Provided by: Cristina
// Source: Some Chinese website 1243680629953_zcool.com.cn
// Saved in: fonts/omnes/
// ********************************************

// regular
@font-face {
  font-family: omnes;
  src: font_url("omnes/omnes-regular.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: omnes;
  src: font_url("omnes/omnes-bold.otf") format("opentype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: omnes;
  src: font_url("omnes/omnes-hairline.otf") format("opentype");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: omnes;
  src: font_url("omnes/omnes-thin.otf") format("opentype");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: omnes;
  src: font_url("omnes/omnes-extralight.otf") format("opentype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: omnes;
  src: font_url("omnes/omnes-light.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: omnes;
  src: font_url("omnes/omnes-regular.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: omnes;
  src: font_url("omnes/omnes-medium.otf") format("opentype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: omnes;
  src: font_url("omnes/omnes-semibold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: omnes;
  src: font_url("omnes/omnes-bold.otf") format("opentype");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: omnes;
  src: font_url("omnes/omnes-black.otf") format("opentype");
  font-style: normal;
  font-weight: 900;
}

// italic
@font-face {
  font-family: omnes;
  src: font_url("omnes/omnes-regular-italic.otf") format("opentype");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: omnes;
  src: font_url("omnes/omnes-bold-italic.otf") format("opentype");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: omnes;
  src: font_url("omnes/omnes-hairline-italic.otf") format("opentype");
  font-style: italic;
  font-weight: 100;
}
@font-face {
  font-family: omnes;
  src: font_url("omnes/omnes-thin-italic.otf") format("opentype");
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: omnes;
  src: font_url("omnes/omnes-extralight-italic.otf") format("opentype");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: omnes;
  src: font_url("omnes/omnes-light-italic.otf") format("opentype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: omnes;
  src: font_url("omnes/omnes-regular-italic.otf") format("opentype");
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: omnes;
  src: font_url("omnes/omnes-medium-italic.otf") format("opentype");
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: omnes;
  src: font_url("omnes/omnes-semibold-italic.otf") format("opentype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: omnes;
  src: font_url("omnes/omnes-bold-italic.otf") format("opentype");
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: omnes;
  src: font_url("omnes/omnes-black-italic.otf") format("opentype");
  font-style: italic;
  font-weight: 900;
}
