@import "scss_constants";

$shadow-color:          gray;

$cover-photo-height:    200px;
$profile-photo-height:  170px;
$profile-photo-width:   170px;
$profile-photo-border:  2px;
$tabs-height:           40px;
$tabs-offset:           20px;

.profiles {
//  > .container {
//    background-color: $primary-color;
//  }

  .stay-tuned-container{
    background-color: $primary-color;
    height:600px;
    width:100%;

    .stay-tuned-photo{
      height: $cover-photo-height;
      background-position: center;
      background-size: cover;
      margin-top: 80px;
      margin-left:35%;
      margin-bottom:100px;
    }

    .stay-tuned-text{
      color: white;
      font-size: 36px;  
      text-align:center;
    }
  }

  .header {
    .cover-photo {
      height: $cover-photo-height;
//      background-image: image_url("cat-image.jpg");
      background-position: center;
      background-size: cover;

      .profile-photo-container {
        .profile-photo {
          height: $profile-photo-height;
          width: $profile-photo-width;
          object-fit: cover;
          border: $profile-photo-border solid white;
          @include border-rounded(10px);
          background: white;
          display: block;
          margin: auto;
          @include box-shadow(0, 3px, 5px, $shadow-color);
        }
        .edit-icon {
          position:absolute;
          right:10px;
        }
        .edit-icon:hover {
          color: $primary-color;
        }
      }

      .header-container {
        padding-top: $cover-photo-height - $profile-photo-height + $tabs-offset;
        .info-container {
          color: white;
        }
      }

      .beside-profile-photo {
        max-height: $profile-photo-height - $tabs-offset;
        .edit-icon {
          color: white;
        }
        .edit-icon:hover {
          color: $primary-color;
        }
      }
    }

    .info-container {
      .profile-name {
        padding-top: 3px;
        font-size: $font-size-header;
        color: black;
      }
      .profile-short-bio {
        font-size: $font-size-subheader;
        color: black;
      }
      .profile-location {
        color: black;
        .glyphicon-map-marker {
          margin-right: 12px;
        }
      }
      .edit-icon {
        margin-left: 12px;
      }
    }

    .profile-tabs {
      height: $tabs-height;
      //margin-left: 50px;
      background: white;
      .tabs-columns {
        margin-top: - $tabs-offset;
      }
    }
  }

  .sections-column {
//    Add overall sections styling

    .section-container {
      margin: 10px 0 10px 0;
      border: solid $secondary-fg-color 1px;
      padding: 13px 20px 20px 20px;
      background: white;

      .section-title {
        color: $primary-color;
        font-size: $font-size-medium;
        font-weight: $font-weight-subtitle;
        border-bottom: solid $secondary-bg-color 1px;
      }

      .section-body {
        padding: 10px 10px 10px;

        .element-base {
          padding: 10px 4px 10px;
          color: black;
        }
        .textarea-base {
          width: 100%;
          height: 200px;
        }

        .element-introduction {
          .introduction-body {
            @extend .element-base;
            font-weight: $font-weight-text;
          }
          .introduction-edit-textarea {
            @extend .textarea-base;
          }
        }

        .element-experience {
          .experience-body {
            @extend .element-base;
            .experience-title {
              font-size: $font-size-medium;
              font-weight: $font-weight-main;
              margin-bottom: 0;
            }
            .experience-subtitle {
              font-size: $font-size-submedium;
              font-weight: $font-weight-main;
              padding-left: 10px;
            }
            .experience-description {
              font-weight: $font-weight-text;
            }
          }
          .experience-edit-textarea {
            @extend .textarea-base;
          }
        }



      }
    }
  }

  // dynamic
  .edit-icon, .add-icon, .remove-icon {
    font-size: $font-size-icon;
    margin: 0 5px 0;
//    color: gray;
  }

//  .edit-icon:hover, .add-icon:hover, .remove-icon:hover {
//    color: white;
//  }
//
//  .edit-icon:active, .add-icon:active, .remove-icon:active {
//    color: black;
//  }

  // Skills
  // - also used in registration
  .edit-skills-container {
    @include no-select;

    .profile-skill {
      background: $secondary-bg-color;
      margin: 5px;
      padding: 10px;
      display: inline-block;

      // add shadow

      .skill-name {
        font-size: $font-size-medium;
        font-weight: $font-weight-text;
        cursor: default;
      }
    }
  }
}
