// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "scss_constants";

$cover-photo-height:    200px;
$profile-photo-height:  160px;
$profile-photo-width:   160px;
$profile-photo-border:  2px;
$tabs-height:           40px;
$tabs-offset:           20px;

.profiles {

  .header {
    .cover-photo {
      height: $cover-photo-height;
//      background-image: image_url("cat-image.jpg");
      background-position: center;
      background-size: cover;

      .profile-photo {
        height: $profile-photo-height;
        width: $profile-photo-width;
        object-fit: cover;
        border: $profile-photo-border solid white;
        @include border-rounded(10px);
        background: white;
        display:block;
        margin:auto;
      }

      .header-container {
        padding-top: $cover-photo-height - $profile-photo-height + $tabs-offset;
        .info-container {
          color: white;
        }
      }

      .beside-profile-photo {
        max-height: $profile-photo-height - $tabs-offset;
        .edit-icon {
          color: white;
        }
        .edit-icon:hover {
          color: $primary-color;
        }
      }
    }

    .info-container {
      .profile-name {
        padding-top: 3px;
        font-size: $font-size-header;
      }
      .profile-short-bio {
        font-size: $font-size-subheader;
      }
      .profile-location {
        .glyphicon-map-marker {
          margin-right: 12px;
        }
      }
      .edit-icon {
        margin-left: 12px;

      }
    }

    .profile-tabs {
      height: $tabs-height;
      .tabs-columns {
        margin-top: - $tabs-offset;
      }
    }
  }

}