// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "scss_constants";

$checkbox-checked:      red;
// please use variables.

.profiles {

  .main-section {
    margin-bottom: 30px;
    padding-top: 150px;
    border-top: 40px solid;
    border-right: 30px solid;
    border-left: 30px solid;
    border-color: white;
  }

  .form-group-extra-properties-this-is-semantically-a-disaster-but-please-dont-override-bootstrap-classes {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

//  a {
//    margin-left: auto;
//    margin-right: auto;
//    margin: 0 auto;
//  }

  .form-subheading {
    font-size: 20px;
    font-weight: 500;
  }

  .input-borderless {
    border: 0 solid;
    background: white;
  }

  .input-checkbox {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 3px;
  }

  .check-box-element {
    padding-top: 5px;
    border-radius: 20px;
    border: 10px solid $primary-color-light;
    background-color: white;
  }

  .check-box-element:hover {
    background-color: $secondary-bg-color;
  }

  .check-box-element:active {
    background-color: $primary-color;
  }

  input[type=checkbox]:checked ~ .check-box-element {
    background-color: $checkbox-checked;
  }

  .check-box-area {
    border-radius: 35px;
    background-color: $primary-color-light;
    border: 10px solid white;
    padding: 30px 40px 30px 40px;
  }

  .textinput-area {
    background-color: $primary-color-light;
    border-radius: 35px;
    border: 10px solid white;
    margin-top: 60px;
  }

  .inner-box-textinput {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .skip {
    text-align: center;
    margin-left: 60px;
  }

  .submit {
    margin-bottom: 5px;
  }
}