// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "scss_constants";

$checkbox-checked:      red;
// please use variables.

.profiles {

  .main-section {
    margin-bottom: 150px;
    margin-top: 150px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 50px;
 
  }

//  a {
//    margin-left: auto;
//    margin-right: auto;
//    margin: 0 auto;
//  }

  .form-subheading {
    font-size: 20px;
    font-weight: 500;
   
  }

  .input-borderless {
    border: 0 solid;
    background: white;
    border: 1px solid rgba(0,0,0,0.2);
  }

  .input-checkbox {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 3px;
  }

  .check-box-element {
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    border: 10px solid rgba(0,0,0,0.2);
    border-color: white;
    background-color:$primary-color-light;
    text-align: center;
  }

  .check-box-element:hover {
    background-color: $primary-color-light;
  }

  .check-box-element:active {
    background-color: $primary-color;
  }

  input[type=checkbox]:checked ~ .check-box-element {
    background-color: $checkbox-checked;
  }

  .label{
    font-weight: 500;
    color: black;
    font-size: 18px;

  }

  .check-box-area {
    
    background-color: white;
    padding: 0px 100px 0px 100px;
    border-right: 1px solid rgba(0,0,0,0.2);
  }

  .textinput-area {
    background-color: white;
    border-right: 1px solid rgba(0,0,0,0.2);

  }

  .inner-box-textinput {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .skip {
    text-align: center;
    margin-left: 60px;
  }

  .submit {
    margin-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  .side-description{
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
  }
  .side-description p{
    font-size: 18px;
  }
  .side-description .title{
    color: #298ABC;
    margin-top: 50px;
  }
  .side-description .text{
    color: $secondary-color;
  }
  .big-header{
    color: $primary-color;
    font-size: 18px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 20px;
    border-bottom:  1px solid rgba(0,0,0,0.2);
  }
  .small-header{
    color: $secondary-color;
    font-size: 14px;
    margin-left: 70px;
  }
  .thanks-section h4{
    text-align: center;
    font-size: 36px;
    color: $primary-color;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .thanks-section p{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .thanks-section .text{
    margin-bottom: 50px;
    padding-right: 400px;
    padding-left:   50px;
  }
  


 
}