.sessions {

  .log-in-container {
    margin-top: 50px;
    margin-bottom: 50px;
    background: white;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

    .logo-img-background {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}