@import "scss_constants";

.welcome {
  > .container {
    background-color: white;
  }

  .loading-screen {
    background-color: $primary-color;
    z-index: 1031; // Default z-index for navbar is 1030
    position: fixed;
    top: 0;

    .loading-container, .loading-vector {
      width: 64px;
      height: 64px;
    }
  }

  .main-container.main-img {
    background: image_url("landing-page/main.png") center no-repeat;
    background-size: cover;
    min-height: 619px;
    padding-top: 200px;
  }

  .main {
    text-align: center;

    .main-txt {
      padding: 0 20px 0 20px;
      font-size: $font-size-main;
      font-weight: $font-weight-main;
      color: white;

      .alt-theme {
        color: $primary-color;
      }
    }

    .video-button {
      background-image: image_url("play_button.png");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      margin-top: 35px;
    }

    .stay-tuned-button {
      margin-top: 35px;
      //    background: none;
      font-weight: $font-weight-misc;
    }
  }

  .about {
    text-align: center;
    height: auto;
    padding-top: 100px;
    p {
      font-size: $font-size-about;
    }
  }

  .separator {
    margin-top: 100px;
    margin-bottom: 75px;
  }

  .sections {
    padding-top: 50px;
    padding-bottom: 50px;
    //  border-top: solid 1px $secondary-bg-color;
  }

  .section-img {
    background: center no-repeat;
    background-size: contain;
    min-height: 400px;
    height: auto;
    visibility: hidden;
  }

  .section-txt {
    padding-top: 130px;
    padding-bottom: 110px;
    text-align: center;
    p {
      font-size: $font-size-section;
      color: black;
    }
  }

  .section1 .section-img {
    background-image: image_url("landing-page/section1.png");
  }

  .section2 .section-img {
    background-image: image_url("landing-page/section2.png");
  }

  .section3 .section-img {
    background-image: image_url("landing-page/section3.png");
  }

  .section4 .section-img {
    background-image: image_url("landing-page/section4.png");
  }

  .section5 .section-img {
    background-image: image_url("landing-page/section5.png");
    background-size: cover !important;
  }

  .section5 .section-txt p {
    color: white !important;
  }

  .stay-tuned {
    height: auto;
    text-align: center;

    > .container {
      padding-top: 50px;
      padding-bottom: 50px;
      background: white;
    }

    p.form-title {
      font-size: $font-size-heading;
    }

    h5 {
      color: $secondary-color;
      margin-bottom: 40px;
      font-size: $font-size-text;
    }

    .invite-submit {
      margin: 5px 5px 5px 5px;
    }

    .quote {
      margin-top: 100px;
      blockquote {
        border: none;
        quotes: '\201C' '\201D' '\2018' '\2019';
        p {
          display: inline;
          font-size: $font-size-section;
        }
        footer {
          font-size: $font-size-text;
        }
      }
      blockquote:before {
        color: #ccc;
        content: open-quote;
        font-size: 4 * $font-size-section;
        line-height: 0.1 * $font-size-section;
        margin-right: 0.25 * $font-size-section;
        vertical-align: -0.4 * $font-size-section;
      }
      blockquote:after {
        color: #ccc;
        content: close-quote;
        position: relative;
        float: right;
        font-size: 4 * $font-size-section;
        line-height: 0.1 * $font-size-section;
        margin-right: 0.25 * $font-size-section;
        vertical-align: -0.4 * $font-size-section;
      }
    }
  }

}