<div class="footer">
  <div class="container">
    <span class="copyright-txt float-left">&copy 2015 ConNextor. All rights reserved</span>
    <a href="mailto:elva@connextor.co?Subject=Hi, I want to learn more about your project!" target="_blank"><span class="contact-us float-right">Contact us</span></a>
  </div>
</div>