<div id="pop-up-container" class="outer-centering pop-up-container" onclick="logthatshit()">
  <div class="middle-centering">
    <div id="pop-up" class="inner-centering pop-up log-in-pop-up" onclick="">
      <a href="javascript:hideLogInPopUp()"><span class="glyphicon glyphicon-remove close-button" ></span></a>
      <%= render 'sessions/portal' %>
    </div>
  </div>
</div>
